In [31]:
import pandas as pd
import numpy as np

In [32]:
all_events = ['thing{}'.format(i) for i in range(1,5)]
all_dates  = ['date{}'.format(i) for i in range(1,5)]

form_data = [
    {
            'person':   'person1',
            'dates':  ("date1", "date4"),
            'events': ("thing1", "thing3"),
            'notes':  '',
    },
    {
            'person':  'person2',
            'dates':  ("date1", "date2"),
            'events': ("thing1", "thing2"),
            'notes':  '',
    },
    {
            'person': 'person3',
            'dates':  ("date1", "date2", "date3"),
            'events':  ("thing1", "thing2", "thing3", "thing4"),
            'notes':  '',
    },
]


df = pd.DataFrame.from_records(form_data)
all_people = [ p['person'] for p in form_data ]
df

    person                  dates                            events notes
0  person1         (date1, date4)                  (thing1, thing3)
1  person2         (date1, date2)                  (thing1, thing2)
2  person3  (date1, date2, date3)  (thing1, thing2, thing3, thing4)

person, dates tuples
person, events tuples
join those on person, group by event,date

use antijoin to remove options as events are scheduled

look up pd.pivot, pivot_values

np book array where rows sum to 1
prob too fancy: dynamic programming matrix

1. calculate scores that factor in:
  - number of ppl who can attend
    - weighted by % of total interesting events that person is able to attend (i.e. someone with 0% events weighs more than someone with 100%)
  - % of interested ppl who can attend
2. adjust scores to factor in difference in ^^ scores for this and next best
 2. Select top-scoring event+date
 3. Remove ^^^
 4. Repeat

In [33]:

date_tuples = []
for d in form_data:
    person = d['person']
    dates = d['dates']
    date_tuples += [(person, date) for date in dates]
availability = pd.DataFrame(date_tuples, columns=('person','date')).set_index('person')
availability

          date
person
person1  date1
person1  date4
person2  date1
person2  date2
person3  date1
person3  date2
person3  date3

In [125]:
event_tuples = []
for d in form_data:
    person = d['person']
    events = d['events']
    event_tuples += [(person, event) for event in events]
interest = pd.DataFrame(event_tuples, columns=('person','event')).set_index('person')
interest

          event
person
person1  thing1
person1  thing3
person2  thing1
person2  thing2
person3  thing1
person3  thing2
person3  thing3
person3  thing4

In [126]:
prefs = availability.join(interest)
prefs

          date   event
person
person1  date1  thing1
person1  date1  thing3
person1  date4  thing1
person1  date4  thing3
person2  date1  thing1
person2  date1  thing2
person2  date2  thing1
person2  date2  thing2
person3  date1  thing1
person3  date1  thing2
person3  date1  thing3
person3  date1  thing4
person3  date2  thing1
person3  date2  thing2
person3  date2  thing3
person3  date2  thing4
person3  date3  thing1
person3  date3  thing2
person3  date3  thing3
person3  date3  thing4

## aggregation

In [147]:
options = prefs.groupby(['event','date']).size().sort_values()
options

event   date
thing1  date3    1
        date4    1
thing2  date3    1
thing3  date2    1
        date3    1
        date4    1
thing4  date1    1
        date2    1
        date3    1
thing1  date2    2
thing2  date1    2
        date2    2
thing3  date1    2
thing1  date1    3
dtype: int64

In [144]:
def num_attendees_for(event, date):
    return options.loc[(event, date)]
num_attendees_for("thing1", "date2")

2

## scoring

In [149]:
def score(x):
    attendees = [] # todo
    num_attendees = len(attendees)
    return num_attendees
        
    
    

prefs.groupby(['event','date']).apply(score).sort_values()

event   date
thing1  date1    0
        date2    0
        date3    0
        date4    0
thing2  date1    0
        date2    0
        date3    0
thing3  date1    0
        date2    0
        date3    0
        date4    0
thing4  date1    0
        date2    0
        date3    0
dtype: int64

In [114]:
[a.index for td,a in prefs.groupby(['event','date'])]

[Index(['person1', 'person2', 'person3'], dtype='object', name='person'),
 Index(['person2', 'person3'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person'),
 Index(['person1'], dtype='object', name='person'),
 Index(['person2', 'person3'], dtype='object', name='person'),
 Index(['person2', 'person3'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person'),
 Index(['person1', 'person3'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person'),
 Index(['person1'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person'),
 Index(['person3'], dtype='object', name='person')]

In [98]:
pd.DataFrame(options)

              0
event  date
thing1 date3  1
       date4  1
thing2 date3  1
thing3 date2  1
       date3  1
       date4  1
thing4 date1  1
       date2  1
       date3  1
thing1 date2  2
thing2 date1  2
       date2  2
thing3 date1  2
thing1 date1  3

In [39]:
options = prefs.groupby(['event','date'])
odf = pd.DataFrame(options, columns=['eventat','attendees'])
odf

            eventat                                          attendees
0   (thing1, date1)            date   event
person
...
1   (thing1, date2)            date   event
person
...
2   (thing1, date3)            date   event
person
...
3   (thing1, date4)            date   event
person
...
4   (thing2, date1)            date   event
person
...
5   (thing2, date2)            date   event
person
...
6   (thing2, date3)            date   event
person
...
7   (thing3, date1)            date   event
person
...
8   (thing3, date2)            date   event
person
...
9   (thing3, date3)            date   event
person
...
10  (thing3, date4)            date   event
person
...
11  (thing4, date1)            date   event
person
...
12  (thing4, date2)            date   event
person
...
13  (thing4, date3)            date   event
person
...

In [138]:
t1d1 = odf[odf['eventat'] == ('thing1','date1')]['attendees']
t1d1

0              date   event
person
...
Name: attendees, dtype: object

In [140]:
t1d1_people = list(t1d1[0].index)
t1d1_people

['person1', 'person2', 'person3']

In [57]:
x = odf[odf['eventat'] == ('thing1', 'date1')]['attendees'][0]
x

          date   event
person
person1  date1  thing1
person2  date1  thing1
person3  date1  thing1

In [63]:
x.keys()

Index(['date', 'event'], dtype='object')

## how to extract person from ^^^?

In [41]:
odf.append(prefs.groupby(['event','date']).size())

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [ ]:
def interest_in(df, event):
    return df['events'].apply(lambda v: event in v) 

def available_on(df, date):
    return df['dates'].apply(lambda v: date in v)

def attendees_for(df, event, date):
    return df[interest_in(df, event) & available_on(df, date)]['person']

def dates_for_event(df, event):
    res = set()
    for dates in df[interest_in(df, event)]['dates']:
        res.update(set(dates))
    return res

In [ ]:
pd.MultiIndex.from_product([all_events,all_dates], names=['event', 'date'])

In [ ]:
event = 'thing1'
df[interest_in(df, event)]

In [ ]:
	"""
	goal: figure out which combinations of people+date+event would have the best attendance.
		
	for any "event" with interest above a threshold, show the date that works for the most people, then re-check the threshold and remove if not met.

	- group people by interest in event
	- remove events with total interest below threshold
	- for each remaining event:
		- collect people interested in event, grouped by date
		- remove event if max(group_lens) < thresh
        
    so we want:
    Series((date, event, (person1,person2,...)),...)
	"""

In [ ]:
attendance_data = []
for date in all_dates:
    for event in all_events:
        available_on(df,'date1')

In [ ]:
attendance = []
for event in all_events:
    for date in dates_for_event(df, event):
        attendance.append((event, date, attendees_for(df,event,date)))
        

pd.DataFrame(attendance, columns=('event','date','people'))

In [ ]:
s1 = pd.Series(["a","b"])
s2 = pd.Series(["c","d","e"])
d = pd.DataFrame([s1,s2])
d

In [ ]:
s1 = pd.Series((("person1","person2"),), index=["thing1","date1"])
s1

In [ ]:
cols = pd.MultiIndex.from_product((all_events, all_dates))
[ [a.upper(),b] for a,b in index.values ]

In [ ]:
rows = all_people
table = pd.DataFrame(np.random.randn(3, 16), index=rows, columns=cols)
table

In [ ]:
df['thing1']["date1"]['person1']

In [ ]:
form = df

for event, date in index.values:
    for person in form[interest_in(form,event) & available_on(form,date)]['person'].values:
        table.loc(event, date, person) = True
    
#form[interest_in(form,'thing1') & available_on(form,'date1')]['person'].values
table

#form[interest_in(form,event) & available_on(form,event)]